@use "../app.component" as app;

div {
    padding: 6px;
    margin: auto;
    width: 80%;
    list-style: none;
    overflow: auto;
    height: calc(90vh - app.$toolbar-height);
}

h2 {
    text-align: center;
}