@use "../../light-theme" as light;

div {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 12rem;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: red;
    text-shadow: 0rem 0rem 2rem invert(light.$bg-color);
    margin-bottom: 6rem;
}