$toolbar-height: 64px;

.flex-spacer {
  flex: 1;
}

a {
  display: flex;
  align-items: center;
  padding: 0 4px;
}

@media (max-width: 768px) {
  .flex-spacer {
    justify-self: stretch;
    display: none;
  }

  mat-toolbar {
    display: grid;
    grid-template-columns: 2fr auto auto auto auto;
    grid-template-rows: 100%;
    gap: 5px;
    align-content: center;
    justify-content: right;
    height: $toolbar-height;
  }

  mat-toolbar * {
    font-size: small !important;
    display: inline;
  }

  #home {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
  }

  #users {
    grid-column: 2;
    grid-row: 1;
  }

  #invite {
    grid-column: 3;
    grid-row: 1;
  }

  #account {
    grid-column: 4;
    grid-row: 1;
  }

  #logout {
    grid-column: 5;
    grid-row: 1;
    justify-self: right;
  }

  #logout a mat-icon {
    width: 80%;
  }

  .icon-label {
    vertical-align: baseline;
  }

}

.icon-label {
  margin-left: 8px;
  display: inline;
}

@media (min-width: 768px) {
  .icon-label {
    font-size: 20px;
    vertical-align: middle;
  }
}