/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@use "light-theme" as light;

@include mat.core-theme(light.$light-theme);
@include mat.button-theme(light.$light-theme);
@include mat.form-field-theme(light.$light-theme);
@include mat.input-theme(light.$light-theme);
@include mat.icon-theme(light.$light-theme);
@include mat.toolbar-theme(light.$light-theme);
@include mat.card-theme(light.$light-theme);
@include mat.snack-bar-theme(light.$light-theme);
@include mat.dialog-theme(light.$light-theme);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.notif-warn {
    @include light.get-theme-color-property(color, warn, 500);
    @include light.get-theme-color-property(background-color, warn, 500);
    border-color: #f5c6cb !important;

    .mat-simple-snackbar-action {
        @include light.get-theme-color-property(color, warn, 500);
    }
}