/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@use "light-theme" as light;

@include mat.core-theme(light.$theme);
@include mat.button-theme(light.$theme);
@include mat.form-field-theme(light.$theme);
@include mat.input-theme(light.$theme);
@include mat.icon-theme(light.$theme);
@include mat.toolbar-theme(light.$theme);
@include mat.card-theme(light.$theme);
@include mat.snack-bar-theme(light.$theme);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.notif-success {
    color: #155724 !important; // green
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;

    .mat-simple-snackbar-action {
        color: #155724 !important;
    }
}

.notif-error {
    color: #721c24 !important; // red
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;

    .mat-simple-snackbar-action {
        color: #721c24 !important;
    }
}